.owl-carousel .itempdf {
    height: 500px;
    background: #ffffff;
}
.owl-carousel .itemimg {
  height: 320px;
  background: #ffffff;
}

.btns{
  display: table;
  margin: 30px auto;
}
.customNextBtn, .customPreviousBtn{
      float: right;
    background: #247d87;
    color: #fff;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
}
.itemimg
{
  background: #b0d2d6;
}